/* Global Styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../Images/image\ 3-i.jpg");
  background-size: cover;
  color: #333;
  line-height: 1.6;
  /* padding-top: 90px; */
}
.navbar-nav {
  padding-right: 5px;
}

.nav-item {
  display: flex;
  padding-right: 5px;
}

.nav-link {
  /* padding: 0px 10px; */
  font-size: 18px;
  color: azure;
  text-decoration: none;
  margin-right: 2px;
}

.nav-link:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(4, 18, 66);
  color: rgb(178, 178, 255);
}

.custom-navbar {
  background-color: #00246b;
}
.navbar-brand img {
    height: 50px;
    /* Adjust height as needed */
    width: auto;
    /* Maintain aspect ratio */
}

header {
<<<<<<< HEAD
    background-image: url('../Images/image\ 3-i.jpg');
    background-size: cover;
    height: 200px;
    position: relative;
    text-shadow: white;
    text-align: center;
    font-size: 28px;
    text-align: center;
    padding: 10px 20px;
=======
  background-image: url("../Images/image\ 3-i.jpg");
  background-size: cover;
  margin-top: 78px;
  height: 200px;
  background-position: center;
  position: relative;
  text-shadow: white;
  text-align: center;
  font-size: 28px;
  text-align: center;
  padding: 50px 20px;
>>>>>>> 21a8447f009a97d16b3470a82b93350e1a9f2670
}

header h1 {
  margin-bottom: -26px;
  font-size: 78px;
  font-weight: 700;
  text-transform: uppercase;
}

header p {
<<<<<<< HEAD
    font-size: 35px;
    margin: 0px 0px;
=======
  font-size: 23px;
  margin: 5px ;
  margin-left: -5px;
>>>>>>> 21a8447f009a97d16b3470a82b93350e1a9f2670
}

.hero-image {
  /* background-image: url('image5.jpg'); */
  background-color: rgb(255, 255, 255);
  background-size: cover;
  height: 400px;
  background-position: center;
  position: relative;
}

.hero-text {
<<<<<<< HEAD
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); */
    text-align: center;
    font-size: 30px;
    font-weight: 650;
=======
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); */
  text-align: center;
  font-size: 18px;
>>>>>>> 21a8447f009a97d16b3470a82b93350e1a9f2670
}

section {
  padding: 40px 20px;
  text-align: center;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.product-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  overflow: hidden;
  transition: transform 0.6s ease;
  padding-bottom: 15px;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card h3 {
  font-size: 24px;
  margin: 15px 0;
}

.product-card p {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}

.cta-button {
  padding-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  color: black;
  background-color: gray;
}

footer {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  text-align: center;
}

.social-links a {
<<<<<<< HEAD
    margin: 0 10px;
    padding: 12px;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.social-links a:hover {
    border: 2px groove whitesmoke;
    border-radius: 5px;
    padding: 1px 2px;
    color: white;
}
=======
  margin: 0 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social-links a:hover {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 4px;
  color: white;
}
>>>>>>> 21a8447f009a97d16b3470a82b93350e1a9f2670
